body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #cfcfcf, #e9e9e9);
  margin: 0;
  padding: 0;
  text-align: justify;
}

.container {
  display: flex;
  max-width: 1200px;
  /* Увеличил максимальную ширину контейнера */
  margin: 200px auto;
  /* Центрировал контейнер по горизонтали */
  padding: 20px;
  flex-direction: row-reverse;
}


.content {
  flex: 1;
  /* Стили центральной части сайта */
}

.img {
  width: 100px;
  height: 100px;
  margin-left: 20px;
}


h1 {
  color: #1b1b1b;
  text-align: center;
}


p {
  color: #666;
}

.product {
  background-color: #fff;
  /* Заменил фоновый цвет на белый */
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.contact {
  background-color: #f0f0f0;
  /* Заменил фоновый цвет на светло-серый */
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.hidden {
  opacity: 0;
  visibility: hidden;
  transform: scale(0.5);
  transition: opacity 1s ease, transform 1s ease;
}

#popupContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 5px 10px rgba(19, 19, 19, 0.15);
}

.popupButton {
 
}

#popupContent {
  text-align: center;
}

#closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  color: #888;
}

#popupContainer.visible {
  opacity: 1;
}

.centered-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 40px;
  margin: 0 auto;
  background-color: #ebebeb;
  border-radius: 20px;
  box-shadow: 0 10px 10px rgba(19, 19, 19, 0.15);
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.centered h2 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: -5px;
}